<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/library/css/main.css" />
    <link rel="stylesheet" href="/library/css/custom.css" />
    <title><%= config.CLIENT_NAME %></title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/73d4b4352e.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <style>
    * {
      font-family: "Poppins", sans-serif;
    }
  </style>
  <body class="dark:bg-main duration-75 transition ease-in">
    <main class="transition-fade" id="swup">
      <%- include("./components/header.ejs") %> <%-
      include("./components/dark-mode.ejs") %>
      <section>
        <span
          class="text-neutral-700 dark:text-white text-3xl font-bold flex mt-8 ml-8 p-4 max-w-xs-custom text-center"
          >Welcome, <%= user.username %>!</span
        >
        <div class="flex justify-center items-center flex-col">
          <div
            class="rounded-md flex flex-col shadow-md p-7 bg-neutral-200 dark:bg-neutral-800 mb-5 overflow-hidden"
          >
            <div class="flex justify-between">
              <span class="dark:text-white text-neutral-700 text-2xl">
                Your servers
              </span>
            </div>
            <div class="grid gap-4 xl:grid-cols-3 max-w-xs-custom-2 flex-wrap">
              <% if(!hasServer) { %>
              <span
                class="text-xl text-neutral-700 font-medium dark:text-neutral-300 mt-12"
                >There's nothing to show here</span
              >
              <% } %> <% user__.servers.forEach(server => { %>
              <!-- cards -->
              <a href="/servers/<%= server._id %>" id="card_<%= server._id %>">
                <div
                  id="card_<%= server._id %>"
                  class="transition ease-in max-w-sm rounded overflow-hidden shadow-lg mt-5 hover:shadow-2xl"
                >
                  <div class="z-1 w-full">
                    <img
                      src="/api/v1/servers/<%= server._id %>/avatar/<%= server.avatar %>"
                      alt="Avatar"
                      class="h-24 sm:h-32 w-full object-cover hover:filter blur transition duration-500 ease-in-out filter-none"
                    />
                  </div>
                  <div
                    class="transition ease-in px-6 py-4 bg-neutral-400 hover:bg-neutral-500 dark:bg-neutral-600 dark:hover:bg-neutral-700"
                  >
                    <div class="dark:text-white font-bold text-xl mb-2">
                      <span
                        class="dark:text-white text-neutral-300 transition ease-in break-all"
                        ><%= server.server_name %></span
                      >
                    </div>
                    <p
                      class="dark:text-neutral-200 text-neutral-300 text-base break-all"
                    >
                      <%= server.server_bio %>
                    </p>
                  </div>
                </div>
              </a>
              <% })%>
            </div>

            <input
              type="button"
              onclick="gotoServers()"
              id="gotoServers"
              class="mt-16 dark:bg-neutral-700 p-2 capitalize dark:text-white text-neutral-300 bg-neutral-500 hover:bg-neutral-400 dark:hover:bg-neutral-600 shadow-md transition ease-in cursor-pointer rounded-sm"
              value="View all"
            />
            <input
              type="button"
              class="addserver_modal-open mt-16 dark:bg-neutral-700 p-2 capitalize dark:text-white text-neutral-300 bg-neutral-500 hover:bg-neutral-400 dark:hover:bg-neutral-600 shadow-md transition ease-in cursor-pointer rounded-sm"
              value="Add a server"
            />
          </div>
        </div>
      </section>
      <script src="https://unpkg.com/swup@3"></script>
      <script src="https://cdn.jsdelivr.net/npm/tw-elements/dist/js/index.min.js"></script>
      <script type="module" src="/library/js/script.js"></script>

      <%- include("./components/profile-modal.ejs") %> <%-
      include("./components/addserver-modal.ejs") %><%-
      include("./components/createserver-modal.ejs") %> <%-
      include("./components/joinaserver-modal.ejs") %>
    </main>
  </body>
</html>
