<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <link rel="stylesheet" href="/library/css/main.css" />
    <link rel="stylesheet" href="/library/css/custom.css" />
    <title><%= config.CLIENT_NAME %></title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/73d4b4352e.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <style>
    * {
      font-family: "Poppins", sans-serif;
    }
  </style>
  <body class="dark:bg-main duration-75 transition ease-in">
    <main class="transition-fade" id="swup">
      <%- include("./components/header.ejs") %>
      <%- include("./components/profile-modal.ejs") %>
    </main>
    <script src="https://unpkg.com/swup@3"></script>
    <script src="https://cdn.jsdelivr.net/npm/tw-elements/dist/js/index.min.js"></script>
    <script type="module" src="/library/js/script.js"></script>

    <%- include("./components/profile-modal.ejs") %> <%-
    include("./components/addserver-modal.ejs") %><%-
    include("./components/createserver-modal.ejs") %> <%-
    include("./components/joinaserver-modal.ejs") %>
  </body>
</html>
